<!-- This partial renders on the dashboard the search data that the user entered about exam, treatments or appointments -->
<% if results.count > 0 %>
<div class="tables_standart">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="align-middle text-center font-weight-bold">Título</th>
        <th scope="col" class="align-middle text-center font-weight-bold">Data</th>
        <th scope="col" class="align-middle text-center font-weight-bold">Nome do Profissional</th>
        <th scope="col" class="align-middle text-center font-weight-bold">Estabelecimento</th>
      </tr>
    </thead>
    <tbody>    
      <% results.each do |result| %>
        <tr>
          <td>
            <%= link_to result['title'], result['link'], class:"text-decoration-none results_tables" %>
          </td>
          <td class="text-decoration-none results_tables">
            <%= result['date'].to_time.strftime('%d/%m/%Y') %>
          </td>
          <td class="text-decoration-none results_tables">
            <%= result['professional'] %>
          </td>
          <td class="text-decoration-none results_tables">
            <%= result['establishment'] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <h4>Consulta não retornou nenhum registro.</h4>
<% end %>