<div class="container-fluid" >
	<div class='row ml-3 mr-3 justify-content-sm-center'>
  	<div class='col-xl-4 col-sm-4 col-md-4'>
    	<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col"><a href="/appointments">Consultas</a></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><%= @appointments.first.title%></td>
			    </tr>
  			  <tr>
  			    <td>Mark</td>
  			  </tr>
  			  <tr>
  			    <td>Mark</td>
  			  </tr>
			  </tbody>
			</table>
		</div>
		<div class='col-xl-4 col-sm-4 col-md-4'>
      <table class="table table-striped">
  			<thead>
  			  <tr>
  			    <th scope="col">Exames</th>
  			  </tr>
  			</thead>
  			<tbody>
  			  <tr>
  			    <td>Mark</td>
  			  </tr>
  			  <tr>
  			    <td>Mark</td>
  			  </tr>
  			  <tr>
  			    <td>Mark</td>
  			  </tr>  			  
  			</tbody>
			</table>
    </div>

		<div class='col-xl-4 col-sm-4 col-md-4'>     	
			<table class="table table-striped">
  			<thead>
  			  <tr>
  			    <th scope="col">Tratamentos</th>
  			  </tr>
  			</thead>
  			<tbody>
  			  <tr>
  			    <td>Mark</td>
  			  </tr>
  				<tr>
  				  <td>Mark</td>
  				</tr>
  				<tr>
  				  <td>Mark</td>
  				</tr>
  			</tbody>
			</table>
  	</div>
	</div>
</div>
	