<div class="container-fluid" >
	<div class='row ml-3 mr-3 justify-content-sm-center'>
  	<div class='col-xl-4 col-sm-4 col-md-4'>
    	
      <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col"><a href="/appointments">Consultas</a></th>
			    </tr>
			  </thead>
			  <tbody>
          <% @appointments.each do |appointment| %>
			     <tr>
            <td>
              <%= appointment.title %>
            </td>   
           </tr>
          <% end %>
			  </tbody>
			</table>
		</div>

		<div class='col-xl-4 col-sm-4 col-md-4'>
      <table class="table table-striped">
  			<thead>
  			  <tr>
  			    <th scope="col">Exames</th>
  			  </tr>
  			</thead>
        <tbody>
          <% @exams.each do |exam| %>
           <tr>
            <td>
              <%= exam.title %>
            </td>   
           </tr>
          <% end %>
        </tbody>
			</table>
    </div>

		<div class='col-xl-4 col-sm-4 col-md-4'>     	
			<table class="table table-striped">
  			<thead>
  			  <tr>
  			    <th scope="col">Tratamentos</th>
  			  </tr>
  			</thead>
        <tbody>
          <% @treatments.each do |treatment| %>
           <tr>
            <td>
              <%= treatments.title %>
            </td>   
           </tr>
          <% end %>
        </tbody>
			</table>
  	</div>
    
	</div>
</div>
	