<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='col-xl-4 col-sm-4 col-md-4'>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Consultas</th>
                </tr>
            </thead>
            <% if @shared_history.present? %>
                <tbody>
                    <% @shared_history.each do |shared| %>
                        <tr>
                            <td>
                                <%= link_to "#{shared.name}" , "/appointments?user_check=#{shared.id}" %>
                            </td>
                        </tr>
                        <% end %>
                </tbody>
                <% end %>
        </table>
    </div>
</body>

</html>