<nav id="sidebar" class="active">
  <h1><a href="index.html" class="logo"><%= image_tag("logo_inicial_teste.svg", alt: "Logo oneBitHealth", class: "img-logo-auth") %>
</a></h1>
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <a href="#"><span class="fa fa-home"></span> Home</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-user"></span> About</a>
    </li>
  </ul>

  <div class="footer">
    <p>
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
    </p>
  </div>
</nav>