<nav id="sidebar" class="shadow-lg active">
  <a href="/" class="logo" , id="logo">
    <%= image_tag("logotipo_onebit_health_black.svg", 
        alt: "Logo oneBitHealth", 
        class: "img-logo-auth") 
    %>
  </a>

  <div class="menu_dashboard_links">
    <div class="list-group list-unstyled components mb-5">

      <div class="my_history list-group-item rounded-0 border-left-0 border-bottom-0 border-top-5 border-right-5 border-dark ">
        <a href="/appointments"
           id="my_history"
           >
          <%= image_tag "icon_my_history.svg", 
              alt: "my history icon"  
          %>
        </a>
      </div>

      <div class="list-group-item histories_shares rounded-0 border-left-0 border-bottom-0 border-top-0 border-right-5 border-dark">
        <a href="/shared_history"
           id="histories_shares">
          <%= image_tag "icon_histories_share.svg", 
              alt: "my history icon" 
          %>
        </a>
      </div>

      <div class="list-group-item share_history rounded-0 border-left-0 border-bottom-0 border-top-0 border-right-5 border-dark"
           id="share_history">
        <div data-toggle="modal" 
                data-target="#modal_share" 
                data-whatever="@mdo"
        >
          <%= image_tag "icon_share_history.svg", 
              alt: "my history icon"
          %>
        </div>
      </div>
    </div>
  </div>
</nav>