<nav id="sidebar" class="active">
    <a href="/" class="logo">
      <%= image_tag("logotipo_onebit_health_black.svg", alt: "Logo oneBitHealth", class: "img-logo-auth") %>
    </a>
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <a href="#"><span class="fa fa-home"></span> Home</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-user"></span> About</a>
    </li>
  </ul>
</nav>