<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
     
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="new-task-form">
            <div class="form-group">
              <label for="exampleInputEmail1">Task Name</label>
              <input type="text" name ="name" class="form-control" id="new-task-name" aria-describedby="emailHelp" placeholder="Enter Task Name">
            </div>

            <div class="form-group">
            </div>
            <div class="task-eligible-member">
              <div class="member-card" style="border-radius: 50%;">
                <div class="member-img" style="border-radius: 50%;">
                  <!-- Show member sharer -->
                </div>
              </div>
            </div>
    
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-aqua" id="new-task">Share</button>
        </div>
      </div>
    </div>
  </div>