@import "~bootstrap/scss/bootstrap";
@import "home.scss";
@import "globals.scss";
@import "session_styles.scss";
@import "menu_sidebar.scss";

@include media-breakpoint-down(sm) { 
	*{
		overflow-x: hidden;
	}

	#sidebar{
		min-width: 100%;
		&.active{
  		display: none;
  	}
	}
}