a#header_table_exam , #header_table_appointment, #header_table_treatment {
	font-family: 'Oxygen', sans-serif;
	color: var(--gray-inputs-legends);
	text-decoration: none;
	font-size: 2em;
}

.results_tables{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3em;
	color: var(--gray-inputs-legends);
	font-weight: bold;
}