.tables_standart{
	overflow: scroll; 
  height: 600px;
  overflow-x: hidden;
  padding: 30px;
  
	h1{
		font-family: 'Oxygen', sans-serif;
		color: var(--gray-inputs-legends);
		margin-bottom: 1em;
		overflow: hidden;
	}
	td{
		font-size: 1.6em;
		color: var(--text-color)
	}

	table{
		border-radius: 10px;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		thead{
			background-color: var(--gray-backgroud-color-lines);
			line-height: 2em;
			tr{
				th{
					font-family: 'Oxygen', sans-serif;
					font-size: 1.5em;
				}
			}
		}	
	}

	@media only screen and(max-width: 700px),(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
	
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
			margin-bottom: 10px;
		}
	
	
		td { 
			/* Behave  like a "row" */
			text-transform: capitalize;
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
	
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		td:nth-of-type(1):before { 
			content: "Título";
			font-family: 'Oxygen', sans-serif;
			font-weight: bold; 
		}
		td:nth-of-type(2):before { 
			content: "Nome do Profissional"; 
			font-family: 'Oxygen', sans-serif;
			font-weight: bold; 
		}
		td:nth-of-type(3):before { 
			content: "Data da Consulta"; 
			font-family: 'Oxygen', sans-serif;
			font-weight: bold; 
		}
		a{
			overflow: hidden;
		}
	}

	// Inner Buttons

	// Button Create 
	.button_shape{
  	box-sizing: border-box;
  	appearance: none;
  	background-color: transparent;
  	border-radius: 0.6em;
  	cursor: pointer;
  	display: flex;
  	align-self: center;
  	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1;
  	padding: 1.2em 2.8em;
  	text-transform: capitalize;
  	font-weight: 700;
  	&:hover,
  	&:focus {
  	  a{
  	  	color: #fff;
  	  	outline: 0;
  	  }
  	}
  	overflow: hidden;
  	a{
  		text-decoration: none;
			font-family: 'Oxygen', sans-serif;
			font-weight: bold;
			color: #000000;   		
  	}
  	a:hover{
  		color:#fff;
  	}


  }

	.create_instance {
		border-color: var(--color-primary);
		color: #fff;
		background: {
		  image: linear-gradient(45deg,var(--color-primary) 50%, transparent 50%);
		  position: 100%;
		  size: 400%;
		}
		transition: background 300ms ease-in-out;
		
		&:hover {
		  background-position: 0;
		}
	}
}


/* Styles to serve the internal tables of the view show */


.tables_standart_show_views{
		h1{
		font-family: 'Oxygen', sans-serif;
		color: var(--gray-inputs-legends);
		margin-bottom: 1em;
		overflow: hidden;
	}
	td{
		font-size: 1.6em;
		color: var(--text-color)
	}

	table{
		border-radius: 10px;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		thead{
			background-color: var(--gray-backgroud-color-lines);
			line-height: 2em;
			tr{
				th{
					font-family: 'Oxygen', sans-serif;
					font-size: 1.5em;
				}
			}
		}	
	}

	@media only screen and(max-width: 700px),(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
	
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
			margin-bottom: 10px;
		}
	
	
		td { 
			/* Behave  like a "row" */
			text-transform: capitalize;
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
	
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		td:nth-of-type(1):before { 
			content: "Título";
			font-family: 'Oxygen', sans-serif;
			font-weight: bold; 
		}
		td:nth-of-type(2):before { 
			content: "Nome do Profissional"; 
			font-family: 'Oxygen', sans-serif;
			font-weight: bold; 
		}
		td:nth-of-type(3):before { 
			content: "Data da Consulta"; 
			font-family: 'Oxygen', sans-serif;
			font-weight: bold; 
		}
		a{
			overflow: hidden;
		}
	}

	// Inner Buttons

	// Button Create 
	.button_shape{
  	box-sizing: border-box;
  	appearance: none;
  	background-color: transparent;
  	border-radius: 0.6em;
  	cursor: pointer;
  	display: flex;
  	align-self: center;
  	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1;
  	padding: 1.2em 2.8em;
  	text-transform: capitalize;
  	font-weight: 700;
  	&:hover,
  	&:focus {
  	  a{
  	  	color: #fff;
  	  	outline: 0;
  	  }
  	}
  	overflow: hidden;
  	a{
  		text-decoration: none;
			font-family: 'Oxygen', sans-serif;
			font-weight: bold;
			color: #000000;   		
  	}
  	a:hover{
  		color:#fff;
  	}


  }

	.create_instance {
		border-color: var(--color-primary);
		color: #fff;
		background: {
		  image: linear-gradient(45deg,var(--color-primary) 50%, transparent 50%);
		  position: 100%;
		  size: 400%;
		}
		transition: background 300ms ease-in-out;
		
		&:hover {
		  background-position: 0;
		}
	}

}