/* Fonts for title */
// font-family: 'Oxygen', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Ubuntu', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Roboto+Slab&family=Ubuntu:wght@300&display=swap');
/* Global colors */
:root {
    --color-primary: #8BCCBD;
    --gray-inputs-legends: #666;
    --gray-backgroud-color-lines: #E5E5E5;
    --text-color: #283D3B;

}

