 
body{
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: lighten($black,50%);
}

//SIDEBAR

.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 20%;
  max-width: 80%;
  background: #ffffff;
  color: #000;
  transition: all 0.3s;
  &.active{
  	min-width: 100px;
    max-width: 100px;
    text-align: center;
		ul.components{
	    li{
	    	font-size: 14px;
	    	a{
	    		padding: 10px 0;
			    span{
			    	margin-right: 0;
		    		display: block;
		    		font-size: 24px;
			    }
			  }
	    }
	  }
	}

	.menu_dashboard_links{
		margin-top: 200px;
	 .my_history, .histories_shares, .share_history {
			background-color: var(--color-primary);
			color: #ffffff;
			weight: bold;
			font-size: 1.6em;
			transition: .3s all ease;
			&:hover, &:focus{
				color: #000000;
				background-color: #fff;
			}
		}

		.text_inner_links{
			margin-left: 2em;
		}

		.histories_shares{
			img{
				padding-left: 0.2em; 
			}
			.text_inner_links{
				span{
					padding: 0.4em;
				}
			}
		}
	}

  .logo{
  	display: block;
  	color: $white;
  	font-weight: 900;
  	padding: 10px 30px;
  	@include transition(.3s);
  	.img-logo-auth{
			height: 50px;
			width: 50px;
		}
  }

  /*  Parte principal do sidebar */

  ul.components{
  	padding: 0;
  	@include transition(.3s);
  }
  ul{
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
    		padding: 10px 30px;
		    display: block;
		    color: rgba(255,255,255,1);
		    border-bottom: 1px solid rgba(255,255,255,.1);
		    span{
		    	margin-right: 15px;
		    	@include media-breakpoint-down(md){
		    		display: block;
		    	}
		    }
		    &:hover{
		    	color: $white;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: $white;
    		}
    	}
    }
  }
}

/* ---------------------------------------*/

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#sidebarCollapse{
	span{
		@include media-breakpoint-down(md){
	    display: none;
		}
	}
}


#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}




