<div class="container-fluid show_card tables_standart">
  <div class="cards">
    <div class="card">
    	<div class="contents ">
				<div class="container-sm interactive_button">
					<h1 class="text-center">New Exam</h1>
					<%= render 'form', exam: @exam %>
					<%= link_to 'Back', appointment_exams_path(@appointment), class:"btn-info button_style_horizontal btn mb-4 text-left" %>
				</div>
			</div>
		</div>
	</div>
</div>